.exemplo {
    background-color: black;
    width: 300px;
    height: 300px;
    border: 30px solid;
    margin: 10px auto;
}

/* A propriedade border-image-slice é usada para definir a área que uma imagem ou gradiente vai ocupar na borda de um elemento. Essa imagem será dividida em pedaços, como uma grade 3x3. Essa propriedade aceita até 4 valores, funcionando da mesma forma que os outros, como um relógio no sentido horário. Além disso, a imagem central só aparecerá se o valor "fill" for utilizado. */

#exemplo1 {
    border-image-source: url(../../../../../assets/estrelas.png);
    border-image-slice: 171 fill;
    border-image-repeat: repeat;
}

#exemplo2 {
    border-image-source: linear-gradient(rgb(164, 232, 254), rgb(252, 145, 163));
    border-image-slice: 10;
}