* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content-section {
    padding: 1rem;
}

.content-section h1 {
    margin: 0;
}

.content-section__list-pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

.content-section__list-pokemons .list-pokemons__pokemon {
    display: flex;
    flex-direction: column;

    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

    background-color: #49D0B0;
    color: #fff;
}

.list-pokemons__pokemon .pokemon-number {
    color: #000;
    opacity: 0.3;
    text-align: right;
}

.list-pokemons__pokemon .pokemon-details {
    display: flex;
    flex-direction: row;
}

.list-pokemons__pokemon .pokemon-details .types {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-pokemons__pokemon .pokemon-details img {
    max-width: 100%;
    height: 110px;
}