.list-pokemons {
    display: grid;
    grid-template-columns: 1fr;

    max-width: 90%;
    gap: 20px;

    list-style-type: none;
}

.list-pokemons .list-pokemons__pokemon {
    display: flex;
    flex-direction: column;

    margin: .5rem 0;
    padding: 1rem;
    border-radius: 1rem;

    background-color: #49D0B0;
    color: #fff;
}

.list-pokemons__pokemon .pokemon-number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.list-pokemons__pokemon .pokemon-name {
    color: #fff;
    margin-bottom: .625rem;
}

.list-pokemons__pokemon .pokemon-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-pokemons__pokemon .pokemon-details .types {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-pokemons__pokemon .pokemon-details .types .type {
    background-color: #61E1CA;
    color: #fff;
    font-size: .625rem;
    text-align: center;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.list-pokemons__pokemon .pokemon-details img {
    max-width: 100%;
    height: 70px;
}