@media screen and (min-width: 430px) {
    .list-pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .list-pokemons__pokemon .pokemon-name {
        font-size: 1.3rem;
    }

    .list-pokemons__pokemon .pokemon-details .types .type {
        font-size: .85rem;
    }
}

@media screen and (min-width: 992px) {
    .content-section {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .list-pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .list-pokemons__pokemon .pokemon-name {
        font-size: 1.5rem;
    }
}