body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

div {
    margin: 50px 0;
}

.exemplo1, .exemplo2, .exemplo3 {
    width: 200px;
    height: 100px;
}

.exemplo1 {
    background-color: lightblue;
    border-radius: 10px 10px 0px 0px;
}

.exemplo2 {
    background-color: lightgreen;
    border-radius: 1px 0px 60px 0;
}

.exemplo3 {
    background-color: lightpink;
}

.exemplo1:hover {
    background-color: rgb(144, 227, 255);
    cursor: pointer;
}